*{  /*poner a 0 los margin y padding de todos los elementos*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* modelo de cajas */
}
body{
    /* min-height: 100vh; altura minima del body al 100% de la ventana */
    border: 0px solid black;
    background-color: aqua;
    height: 100vh; /*altura del body al 100% de la ventana */
    /* min-height: 100vh; */
    /* max-height: 100vh; */
    /* width: 70vw; */
    /* min-width: 100vw; */
    /* max-width: 100vw; */
}
header {
    height: 12vh;
    background-color: blue;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header figure{
    border:solid 2px red;
    height: 100%;
}
header figure img{
    height: 100%;
}
header h1{
    color: white;
    text-align: center;
}
header nav{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
header nav a{
    color: yellow;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
header nav a:hover{
    /* text-decoration: underline; */
    background-color: rgba(255, 255, 255, 0.5);
}
main{
    height: 78vh;
    background-color: lightgrey;
}
footer{
    height: 10vh;
    background-color: grey;
}